/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:wght@500;700&display=swap");

:root {
  --alWhite: hsl(0, 0%, 98%);
  --alBlack: hsl(0, 0%, 8%);
  --med_grey: hsl(0, 0%, 41%);
  --main_fnt: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--alWhite);
  font-family: "Poppins", sans-serif;
  font-size: var(--main_fnt);
  text-decoration: none;
  list-style-type: none;
  color: var(--med_grey);
}
/* HEADER */
.nav_container,
.left_navlist {
  display: flex;
}
.nav_container {
  justify-content: space-between;
}
.left_navlist {
  margin: 1.5rem;
}
.left_navlist li {
  font-size: 15px;
  margin: 0 1rem;
  cursor: pointer;
}

.left_navlist li:hover {
  color: var(--alBlack);
}
.right_nav {
  display: flex;
  align-items: center;
}
.right_nav_btn1,
.right_nav_btn2 {
  color: var(--med_grey);
  margin: 0 2.5rem 0 0;
  cursor: pointer;
}
.right_nav_btn1 {
  border: none;
}
.right_nav_btn2 {
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  border: 2px solid var(--med_grey);
}
.right_nav_btn1:hover {
  color: var(--alBlack);
}
.right_nav_btn2:hover {
  color: var(--alBlack);
  border: 2px solid var(--alBlack);
}
/* END OF HEADER */

/* MAIN */
/* ABOUT SECTION */
.main_container {
  display: flex;
  justify-content: space-evenly;
  height: 86vh;
}
.about_section {
  margin: 16.7rem 0;
  width: 34%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.about_intro {
  margin: 3.5rem 0;
  display: flex;
  flex-direction: column;
}
.about_intro__title {
  color: hsl(0, 0%, 8%);
  font-weight: 700;
  font-size: 70px;
  line-height: 60px;
}
.about_intro__prg {
  margin-bottom: 40px;
  margin-top: 50px;
  color: hsl(0, 0%, 41%);
  font-weight: 500;
}
.more_bnt {
  padding: 0.6rem 1.2rem;
  border: 1px solid black;
  border-radius: 0.7rem;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  font-size: 15px;
}
.more_bnt:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
}
.brands_icons {
  display: flex;
  justify-content: space-between;
}
/* ABOUT IMAGE */

#image {
  width: 390px;
  margin: 2rem 0 0 7rem;
}
/* END OF MAIN */
/* blogs */
.display_none {
  position: absolute;
  box-shadow: 0 0 10px hsla(0, 0%, 41%, 0.692);
  border-radius: 15px;
  background-color: white;
  display: none;
}
.display_none ul li {
  margin: 0.7rem;
}
.features__drop {
  top: 3.8rem;
  left: 5.5rem;
  display: none;
}
.comapny__drop {
  top: 3.8rem;
  left: 16rem;
}
/*  */
/* Media Query */
/* 375px */
@media (max-width: 375px) {
  .nav_container,
  .left_navlist {
    flex-direction: column;
  }
}
